.git
.github
.vscode
.idea

.env
.env.test
.env.deploy

node_modules
backend/node_modules
frontend/node_modules
indexer/node_modules
shared/node_modules

tmp
.cache
database/sqlite

src-tauri/target
src-tauri/resources/runtime

frontend/.svelte-kit
frontend/build-web
frontend/dist
frontend/dist-userland
backend/dist-desktop
indexer/dist-desktop

observability/grafana/data
observability/loki/data
observability/prometheus/data
observability/pyroscope/data
observability/tempo/data
