ARTGOD_DB_PATH=database/sqlite/test/db
SMOKE_NATS_PORT=10247
SMOKE_RPC_URL=http://127.0.0.1:8545
SMOKE_TARGET_COLLECTIONS='[{"id":"terraforms","address":"0x4E1f41613c9084FdB9E34E11fAE9412427480e56","deploymentBlock":13823015}]'
SMOKE_RANGE_FROM=24193425
SMOKE_RANGE_TO=24193425
SMOKE_CHAIN_ID=1
